* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
  height: 100%;
  scroll-behavior: smooth;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.navbar {
	padding-top: 10px;
	padding-bottom: 15px;
}

.navbar-logo {
	margin-top: 5px;
	margin-bottom: 8px;
}

.navlink {
	margin-left: 1rem;
	margin-right: 1rem;
	color: white;
}

.bg-nav {
	background-color: #191E2C;
}

.bg-3 {
	background-color: #647CBC;
}

.bg-card {
	background-color: #A9B6DA;
}

.parallax1 {
  /* The image used */
  background-image: url('https://wallpaperaccess.com/full/5502887.png');

  /* Full height */
  height: 60%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-color: darkgrey;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: fill;
  padding-bottom: 50px;
  padding-top: 50px;
}

/* Video Parallax Section Start*/
.ParallaxVideo { 
  height: 100%;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  padding-top: 50px; 
}

.ParallaxVideo video { 
	clip: rect(0, 1920px, 1080px, 0);
    min-width: 0%;
    position: fixed;
  top:0;
  z-index: -9999;
}
/* Video Parallax Section End*/


#pre-footer {
	padding: 1rem;
	background-color: #374B81;
	color: white;
}

#pre-footer > div {
	display: inline-block;
	width: 20%;
	vertical-align: top;
	min-height: 175px;
	width: 20%;
	margin-left: 2rem;
	margin-right: 2rem;
}

#pre-footer > div > * {
	margin: 0.3rem, ;
}

footer {
	padding: 0.7rem;
}

footer span {
	margin: 0 0.5;
}