* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Spartan', sans-serif;
}

h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 69px;
  color: #DDDAD8;
}

hr {
	width: 100%;
	height: 2px;
	background-color: #333333;
} 

ul {
	list-style: none;
}

.sidebar, .bgside {
	background-color: #DDDAD8;
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #DDDAD8;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.tophead {
	margin-top: 1rem;
	margin-bottom: 5rem;
}

.bg-body {
  background-color: #8A8A8A;
}

.card {
  background-color: #335C67;
}

.card-link {
  color: white;
}

.parallax {
  /* The image used */
  background-image: url('https://i.pinimg.com/originals/dc/63/f3/dc63f3c527d85db092ab85fd4b097bfa.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}